*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	background-color:black;
	font-family: monospace;
	}
h1{
	color: white;
    text-align: center;
    font-size: 50px;
	margin: 30px;
	margin-bottom:50px;
   }
   p{
    margin: 20px;
    height: 400px;
    background-color: mistyrose;
	border: solid slategray 2px;
	font-size: 20px;
    padding: 36px;
    padding-top: 50px;
    margin-bottom: 40px;
    color: black;
    }
#container{
	position: relative;
    }
h2
  { 
   font-size: 30px;
   border: solid slategray 2px;
   position: absolute;
   top:0;
   right:20px;
   } 
#heading1{
   background-color: crimson;
   }
#heading2{
   background-color: yellow;
   }
#heading3{
   background-color: deeppink;
   }
.row{
	width:100%;
    }
/*for Desktop view*/
@media (min-width: 992px){
  .col-lg-4
  {
  	float: left;
  	}
   .col-lg-4{
   	width: 33%;
   }
   
}
/*for Tablet view*/
@media(min-width: 768px) and (max-width: 991px){
	.col-md-6,.col-md-12
	{
		float: left;
		
	}
	.col-md-6{
		width: 50%;
	}
	.col-md-12{
		width: 100%;
	}
}
/*for Mobile view*/
@media(max-width: 767px){
	.col-sm-12
	{
	 float: left;
	}
	.col-ms-12{
		width: 100%;
	}
}



